{% extends "base.html.twig" %}

{% block body %}
	<div class="site-container">


		<div class="project-navigation-container" id="fast-acces" data-aos="fade-right">
			<div class="project">
				<a href="#" title="J'ai un projet !" class="project-link">
					<span class="txt">J'ai un projet !</span>
					<div class="svg-item">
						<svg class="icon">
							<use xlink:href="images/sprite.svg#projet"></use>
						</svg>
					</div>
				</a>
			</div>
			<button type="button" aria-label="Bouton d'accès rapide" class="open-fast-acces" uk-tooltip="title: Ouvrir l'accès rapide; pos: right">
				<svg class="icon">
					<use xlink:href="images/sprite.svg#arrow"></use>
				</svg>
			</button>
		</div>
	</div>

{% endblock %}
