{% extends "base.html.twig" %}

{% block title %}
	Hello ArtisantController!
{% endblock %}

{% block body %}
	<div class="site-container">
		<header class="site-header aos-init aos-animate" data-aos="fade-down" id="header" itemscope="" itemtype="https://schema.org/WPHeader">
			<div class="container-nav-header">
				<div class="uk-container">
					<div class="container-logo">
						<a href="index.html" uk-tooltip="Artisans Artipôle - Dôle Choisey" class="logo-client" title="" aria-expanded="false"><img data-src="/images/logo-artipole.svg" alt="Artisans Artipôle - Dôle Choisey" uk-img="" src="/images/logo-artipole.svg" width="191" height="103"></a>
					</div>
					<div class="container-nav" id="nav-container-id">
						<nav class="kg-navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement" role="navigation" aria-label="Menu principal">
							<ul class="uk-navbar-nav">
								<li>
									<a href="#" class="nav-links" title="Mon artisan Artipôle">Mon artisan Artipôle</a>
								</li>
								<li>
									<a href="services.html" class="nav-links" title="Inspirations">Inspirations</a>
								</li>
								<li>
									<a href="#" class="nav-links" title="Nos métiers">Nos métiers</a>
								</li>
								<li>
									<a href="contact.html" class="nav-links" title="Salle d'exposition">Salle d'exposition</a>
								</li>
							</ul>
						</nav>
						<div class="container-social">
							<ul>
								<li><a href="#" title="" aria-label="Lien sur la page Facebook" target="_blank" uk-tooltip="Notre page Facebook" aria-expanded="false"><svg class="icon"><use xlink:href="/images/sprite.svg#facebook"></use></svg></a></li>
								<li><a href="#" title="" aria-label="Lien sur la page Instagram" target="_blank" uk-tooltip="Notre page Instagram" aria-expanded="false"><svg class="icon"><use xlink:href="/images/sprite.svg#instagram"></use></svg></a></li>
								<li><a href="#" title="" aria-label="Lien sur la page Pinterest" target="_blank" uk-tooltip="Notre page Pinterest" aria-expanded="false"><svg class="icon"><use xlink:href="/images/sprite.svg#pinterest"></use></svg></a></li>
								<li><a href="#" title="" aria-label="Lien sur la page YouTube" target="_blank" uk-tooltip="Notre page YouTube" aria-expanded="false"><svg class="icon"><use xlink:href="/images/sprite.svg#youtube"></use></svg></a></li>
							</ul>
						</div>
						<div class="container-progress">
							<div class="progress"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div
			class="project-navigation-container" id="fast-acces">
			{# <div class="project-navigation-container" id="fast-acces" data-aos="fade-right"> #}
			<div class="project">
				<a href="#" title="J'ai un projet !" class="project-link">
					<span class="txt">J'ai un projet !</span>
					<div class="svg-item">
						<svg class="icon">
							<use xlink:href="/images/sprite.svg#projet"></use>
						</svg>
					</div>
				</a>
			</div>
			<button type="button" aria-label="Bouton d'accès rapide" class="open-fast-acces" uk-tooltip="title: Ouvrir l'accès rapide; pos: right">
				<svg class="icon">
					<use xlink:href="/images/sprite.svg#arrow"></use>
				</svg>
			</button>
		</div>
	</div>

	<div class="site-content main" data-aos="fade">
		<section class="section section-swiper-galerie">
			<div class="uk-container" data-aos="fade-down">
				<span class="pre-title">Inspiration</span>
				<h2>{{ age }}
					Laissez-vous séduire par nos univers</h2>
			</div>
			<div class="swiper swiper-tabs" data-aos="fade-left">
				<div class="swiper-wrapper tab-swipe-desktop">
					<div class="swiper-slide tab-swiper">Agencement</div>
					<div class="swiper-slide tab-swiper">Bardage</div>
					<div class="swiper-slide tab-swiper">Charpente</div>
					<div class="swiper-slide tab-swiper">Couverture</div>
					<div class="swiper-slide tab-swiper">Cuisine</div>
					<div class="swiper-slide tab-swiper">Isolation</div>
					<div class="swiper-slide tab-swiper">Menuiserie</div>
					<div class="swiper-slide tab-swiper">Meuble</div>
					<div class="swiper-slide tab-swiper">Maison ossature bois</div>
				</div>
				<select class="uk-select" id="select-swipe-mobile">
					<option class="swiper-slide tab-swiper" value="1">Agencement</option>
					<option class="swiper-slide tab-swiper" value="2">Bardage</option>
					<option class="swiper-slide tab-swiper" value="3">Charpente</option>
					<option class="swiper-slide tab-swiper" value="4">Couverture</option>
					<option class="swiper-slide tab-swiper" value="5">Cuisine</option>
					<option class="swiper-slide tab-swiper" value="6">Isolation</option>
					<option class="swiper-slide tab-swiper" value="7">Menuiserie</option>
					<option class="swiper-slide tab-swiper" value="8">Meuble</option>
					<option class="swiper-slide tab-swiper" value="9">Maison ossature bois</option>
				</select>
			</div>
		</section>
	</div>

{% endblock %}
