//
// Component: Header
//
// Header
// ========================================================================
header {
    &#header {
        display: block;
        background: white;
        height: 100px;
        position: fixed;
        width: 100%;
        z-index: 1000;
        transition: all .2s ease-in-out;
        @media (min-width: $breakpoint-medium) {
            height: 125px;
        }
        &.smaller {
            height: 85px;
            .container-nav {
                height: 85px;
                .container-progress {
                    top: 80px;
                }
            }
            .container-nav-header {
                .container-logo {
                    height: 85px;
                    .logo-client {
                        img {
                            width: 75%;
                            height: 125px;
                        }
                    }
                    &:before {
                        height: 125px;
                    }
                }
            }
        }
        .container-nav-header {
            transition: all .2s ease-in-out;
            .uk-container {
                display: block;
                max-width: 100%;
                @media (min-width: $breakpoint-medium) {
                    display: flex;
                }
                @media (min-width: $breakpoint-xxlarge) {
                    max-width: 1600px;
                }
            }
        }
    }
}

.project-navigation-container {
    position: fixed;
    top: 25vh;
    z-index: 100;
    height: 530px;
    display: none;
    @media (min-width: $breakpoint-medium) {
        display: block;
    }
    .open-fast-acces {
        display: none;
    }
    &:before {
        content: "";
        position: absolute;
        top: -40px;
        z-index: -1;
        display: block;
        width: 60px;
        height: 100%;
        background: $global-color-blue;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        padding: $padding-padding*6 $padding-padding;
    }
    &.close {
        height: 430px;
        .liste-acces-rapide-items {
            display: none;
            transition: all .2s ease-in-out;
        }
        .open-fast-acces {
            background: $global-color-dark-blue;
            border: none;
            width: 60px;
            height: 105px;
            border-bottom-right-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            overflow: hidden;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                background: $global-color-red;
            }
            .icon {
                transform: rotate(90deg);
                fill: white;
                width: 60%;
                margin: -17px 0 0 0px;
            }
            .uk-tooltip {
                position: absolute;
                z-index: 1000;
            }
        }
    }
    .project {
        .project-link {
            display: block;
            width: 50px;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            &:hover {
                border-bottom: none;
                text-decoration: none;
                .txt {
                    color: $global-color-red;
                }
                .svg-item {
                    .icon {
                        fill: $global-color-red;
                    }
                }
            }
            .txt {
                display: block;
                transform: rotate(-180deg) translateY(40px);
                margin: 60px 0 0 auto;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                font-family: $global-font-family;
                font-size: 1.5rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: white;
                transition: all .2s ease-in-out;
            }
            .svg-item {
                display: flex;
                align-items: center;
                flex-flow: column;
                width: 60px;
                &:before {
                    position: absolute;
                    z-index: -1;
                    content: "";
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: $global-color-dark-blue;
                    box-shadow: 0 0 10px rgba(255, 255, 255, .4);
                }
                .icon {
                    position: relative;
                    z-index: 100;
                    fill: white;
                    margin-top: -67px;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
    .liste-acces-rapide-items {
        padding: 0;
        margin: 0 0 0 $margin-margin/2;
        list-style: none;
        position: relative;
        display: flex;
        flex-flow: column;
        li {
            margin: 5px 0;
        }
        .item-acces-rapide {
            display: block;
            transition: all .2s ease-in-out;
            .icon {
                width: 40px;
                height: 40px;
                display: inline;
                fill: white;
                transform: translateY(-5px);
                transition: all .2s ease-in-out;
            }
            span {
                font-family: $global-font-family;
                font-size: 1.2rem;
                letter-spacing: 1px;
                color: white;
                visibility: hidden;
                opacity: 0;
                display: inline;
                width: 0;
                padding: 10px 30px;
                background: $global-color-blue;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                position: relative;
                transform: translateY(10px);
                transition: all .2s ease-in-out;
            }
            &:hover {
                text-decoration: none;
                width: 100%;
                height: 50px;
                .icon {
                    fill: $global-color-red;
                }
                span {
                    visibility: visible;
                    opacity: 1;
                    background: $global-color-blue;
                    width: 100%;
                    color: white;
                }
            }
        }
    }
}

.container-nav-mobile {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background: $global-color-blue;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: $breakpoint-medium) {
        display: none;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        li {
            .item-acces-rapide {
                display: flex;
                align-items: center;
                flex-flow: column;
                background: none;
                border: none;
                &.active {
                    .icon {
                        fill: $global-color-red;
                    }
                }
                &:hover {
                    text-decoration: none;
                }
                .icon {
                    fill: white;
                    width: 45px;
                    height: 45px;
                }
                span {
                    font-size: .65rem;
                    color: white;
                }
            }
        }
    }
}

#burger-menu {
    background: none;
    border: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    .title-menu {
        color: white;
    }
}

.nav-icon {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: all .25s ease-in-out;
    }
    &.open {
        span {
            background: $global-color-red;
        }
    }
}

.nav-icon span:nth-child(1) {
    top: 16px;
}

.nav-icon span:nth-child(2) {
    top: 24px;
    width: 50%;
}

.nav-icon span:nth-child(3) {
    top: 32px;
}

.nav-icon.open span:nth-child(1) {
    top: 22px;
    transform: rotate(135deg);
}

.nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.nav-icon.open span:nth-child(3) {
    top: 22px;
    transform: rotate(-135deg);
}

#container-projet-mobile {
    @media (max-width: $breakpoint-small-max) {
        z-index: 1000;
    }
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100%;
    background: url('../images/wood-blue-mobile.jpg') no-repeat center center;
    background-size: cover;
    padding: 2rem 0 10rem 0;
    height: 100%;
    width: 100%;
    color: white;
    overflow-y: auto;
    transition: all .2s ease-in-out;
    @media (min-width: $breakpoint-medium) {
        top: 127px;
        background: url('../images/wood-blue-desktop.jpg') no-repeat center center;
        background-size: cover;
    }
    #close-container-project {
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 100;
        &:hover {
            color: $global-color-red;
        }
        svg {
            width: 40px;
            height: 40px;
        }
    }
    &.open {
        left: 0;
    }
    .uk-container {
        width: 80%;
        @media (min-width: $breakpoint-medium-light) {
            width: 100%;
            max-width: 100%;
        }
    }
    .container-picto {
        text-align: center;
        .icon {
            fill: white;
            width: 100px;
            height: 100px;
        }
        .title-projet {
            color: white;
            text-transform: uppercase;
            font-family: $global-font-family;
            font-size: 2.2rem;
            letter-spacing: 2px;
            margin: 0 0 1rem 0;
            padding: 0;
            line-height: 2.2rem;
        }
    }
    .title-search {
        text-transform: uppercase;
        text-align: center;
        text-transform: uppercase;
        font-family: $global-font-family;
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
    #search_form_metier {
        .container-artisan-fields {
            align-items: center;
        }
    }
    .container-select-field {
        @media (max-width: $breakpoint-small-max) {
            margin: 1.5rem 0;
        }
        margin: 1.5rem .5rem;
        .ts-wrapper:not(.form-select) {
            min-width: 330px;
        }
    }
    .container-artisan-fields {
        display: block;
        @media (min-width: $breakpoint-medium-light) {
            display: flex;
            justify-content: center;
        }
        .container-flex {
            @media (max-width: $breakpoint-small-max) {
                margin: .5rem 0;
            }
            margin: 1.5rem .5rem;
        }
        .rayon-container {
            margin-right: .5rem;
        }
    }
    .container-flex {
        @media (max-width: $breakpoint-small-max) {
            justify-content: space-between;
        }
        display: flex;
        .input-data {
            @media (max-width: $breakpoint-small-max) {
                margin: 0;
            }
            width: 48%;
            margin: 0 .5rem;
            &:last-child {
                margin-right: 0;
            }
            input {
                &:focus~label,
                &:not(:placeholder-shown)~label {
                    color: white;
                }
                &:focus {
                    border: 1px solid white;
                    box-shadow: 0 0 10px white;
                }
            }
        }
    }
    .submit-search-button {
        width: 100%;
        min-width: 250px;
        color: white;
        border: 1px solid $global-color-red;
        text-align: center;
        font-family: $global-font-family;
        text-transform: uppercase;
        height: 55px;
        line-height: 55px;
        border-radius: 25px;
        background: transparent;
        margin: 1rem 0;
        font-size: 1rem;
        letter-spacing: 2px;
        position: relative;
        cursor: pointer;
        transition: all .2s ease-in-out;
        @media (min-width: $breakpoint-medium-light) {
            width: auto;
        }
        &:hover {
            background: white;
            color: $global-color-red;
            .icon {
                fill: $global-color-red;
            }
        }
        .icon {
            position: absolute;
            right: 20px;
            width: 30px;
            height: 30px;
            fill: white;
            top: 10px;
            transition: all .2s ease-in-out;
        }
        &#metier-submit-button {
            margin: 0;
        }
    }
    .uk-container-catalogues-flex {
        @media (max-width: $breakpoint-small-max) {
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: $breakpoint-medium) {
            flex-flow: column;
        }
        @media (min-width: $breakpoint-medium-light) {
            flex-flow: initial;
            justify-content: center;
        }
    }
    .item-catalogue {
        margin: 0 3rem;
        &:before {
            left: 40px;
            width: 320px;
            right: initial;
            @media (min-width: $breakpoint-small) {
                top: 0;
                height: 140px;
            }
        }
        .container-svgs span {
            width: 130px;
        }
    }
}

#container-menu-metier {
    @media (max-width: $breakpoint-small-max) {
        top: 0;
    }
    background: white;
    position: fixed;
    top: 125px;
    width: 100%;
    z-index: 1000;
    color: white;
    left: -100%;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 6%;
    transition: all .2s ease-in-out;
    &.smaller {
        @media (max-width: $breakpoint-small-max) {
            top: 0;
        }
        top: 85px;
    }
    &.open {
        left: 0;
    }
    .container-metiers {
        @media (max-width: $breakpoint-small-max) {
            margin-left: 0;
        }
        flex-direction: initial;
        align-items: center;
        &__items {
            @media (max-width: $breakpoint-small-max) {
                padding: 6rem 1rem 1rem 1rem;
            }
            background: url("../images/wood-blue-desktop.jpg") no-repeat center center;
            background-size: cover;
            padding: 1rem;
            position: relative;
            @media (min-width: $breakpoint-small) {
                padding: 2rem;
            }
            @media (min-width: $breakpoint-xlarge) {
                padding: 4rem;
            }
            ul {
                @media (max-width: $breakpoint-small-max) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @media (min-width: $breakpoint-small) {
                    grid-template-columns: repeat(3, 1fr);
                }
                @media (min-width: $breakpoint-xxlarge) {
                    grid-template-columns: repeat(4, 1fr);
                }
                margin: 0;
                padding: 0;
                list-style: none;
                display: grid;
                grid-template-columns: repeat(4,
                1fr);
                grid-gap: 1rem;
                .card-metiers {
                    a {
                        .title {
                            display: block;
                        }
                        figure {
                            overflow: hidden;
                            aspect-ratio: 1/1;
                            height: initial;
                            width: initial;
                            img {
                                transition: all .3s ease-in-out;
                            }
                        }
                        &:hover {
                            .title {
                                opacity: 1;
                            }
                            figure {
                                img {
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
            .pattern {
                @media (max-width: $breakpoint-small-max) {
                    display: none;
                }
                &:after {
                    height: 100%;
                    width: 30px;
                    top: 0;
                    bottom: initial;
                }
            }
        }
        &__content {
            @media (max-width: $breakpoint-small-max) {
                padding: 2rem 1rem;
            }
            padding: 1rem;
            height: 100%;
            @media (min-width: $breakpoint-small) {
                padding: 2rem;
            }
            @media (min-width: $breakpoint-xlarge) {
                padding: 4rem;
            }
            .uk-close {
                @media (max-width: $breakpoint-small-max) {
                    color: #fff;
                }
                position: absolute;
                top: 2rem;
                right: 2rem;
                color: $global-color-blue;
                svg {
                    width: 50px;
                    height: 50px;
                }
                &:hover {
                    color: $global-color-red;
                }
            }
            &__title {
                color: $global-color-blue;
                text-transform: uppercase;
                font-family: $global-font-family;
                font-size: 1.5rem;
                line-height: 1.2;
                letter-spacing: 1px;
                @media (min-width: $breakpoint-xlarge) {
                    font-size: 2.5rem;
                }
            }
            .img-tampon {
                margin-top: 2rem;
                width: 55%;
            }
            p {
                color: $global-color;
            }
        }
    }
}