//
// Layout: Métier
//
// Métier
// ========================================================================
.section-galerie-metier {
    @media (max-width: $breakpoint-small-max) {
        padding: 2rem 0;
    }
    padding: 4rem 0;
}

.section-listing-items {
    @media (max-width: $breakpoint-small-max) {
        padding: 2rem 0;
    }
    padding: 4rem 0;
}