//
// Component: Nav bar
//
// Nav bar
// ========================================================================
.container-nav {
    width: 100%;
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    right: -100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all .2s ease-in-out;
    @media (min-width: $breakpoint-medium) {
        position: relative;
        height: 125px;
        right: inherit;
        flex-flow: inherit;
        justify-content: space-between;
    }
    &.open {
        right: 0;
    }
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 $padding-padding*4;
        @media (min-width: $breakpoint-small) {
            height: 125px;
            width: 80%;
            padding: 0;
        }
        @media (min-width: $breakpoint-medium-light) {
            padding: 0 $padding-padding*4;
        }
        .uk-navbar-nav {
            display: flex;
            align-items: center;
            flex-flow: column;
            justify-content: space-between;
            width: 100%;
            @media (min-width: $breakpoint-small) {
                flex-flow: initial;
            }
            @media (min-width: $breakpoint-medium) {
                justify-content: space-around;
            }
            >li {
                display: block;
                >.nav-links {
                    color: $global-color-dark-blue;
                    font-family: $global-font-family;
                    background: none;
                    border: none;
                    text-transform: none;
                    font-size: 1.44444444rem;
                    position: relative;
                    cursor: pointer;
                    display: block;
                    min-height: initial;
                    padding: 0;
                    transition: all .3s ease-in-out;
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background: $global-color-red;
                        transition: width .3s ease-in-out;
                    }
                    &:hover {
                        color: $global-color-red;
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}